.slider {
  display: flex;
  width: 80vw;
  height: 70vh;
  justify-content: space-between;
  padding: 15px;
  transition: transform 0.5s;
  border-radius: 16px;
  box-shadow:0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.slider:hover {
  transform: translateX(-2%)
}

.slider.right {
  flex-direction: row-reverse;
}

.slider .navLinks {
    border-bottom: 2px solid transparent;
    position: relative;  /* Relative positioning to use pseudo-elements */
    font-weight: 500;
    font-family: var(--font-mono);
  }

.slider .navLinks:after {
    content: "";  /* Pseudo-element content */
    position: absolute;
    bottom: -2px;  /* Positioning the pseudo-element just below the button */
    left: 0;
    width: 20px;  /* Initially width is 0 */
    height: 2px;  /* Same height as the border-bottom */
    background-color: rgb(var(--unique-scheme));  /* Color of the underline */
    transition: width 0.3s ease;  /* Smooth transition for the width */
}

.navLinks:hover:after {
  width: 100%;  /* Expand the pseudo-element to cover the full width on hover */
}

.sliderHeading {
  line-height: 50px;
  font-size: 3.375rem;
}

.sliderDetailContainer {
  display: flex;
  width: 40%; 
  flex-direction: column; 
  align-items: flex-start;
  justify-content: center;
  row-gap: 6px;
}

.sliderImageContainer {
 width: 55%;
 position: relative;
}

.sliderImage {
  object-fit: contain;
}

.sliderSubHeading {
  font-size: 9px;
  padding-left: 2px;
}

.sliderDescription {
  font-size: 1rem;
  font-weight: 200;
}

.sliderLink {
  align-self: center;
  margin-top: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {  
  .slider {
    height: 80vh;
    flex-direction: column;
  }
  .slider.right {
    height: 80vh;
    flex-direction: column;
  }
  .sliderDetailContainer{
    width: 100%;
  }
  .sliderImageContainer {
    width: 100%;
    height: 100vh;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .slider {
    height: 65vh;
  }
  .sliderHeading{
    font-size: 2.4rem;
    line-height: 35px;
  }
  .sliderSubHeading {
    font-size: 8px;
    padding-left: 2px;
  }
  
  .sliderDescription {
    font-size: 0.875rem;
    font-weight: 200;
  }
  .sliderLink {
    font-size: 0.85925925925rem;
    align-self: center;
    margin-top: 10px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


/* Style for the card inside the dropdown */
.card {
  padding: 10px;
}

.header {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%; /* positions right below the header */
  left: 0;
  width: 100%; /* adjust width as needed */
  height: 40vh;
  background-color: #666;
  color: red;
  border: 1px solid #444;
  transition: transform 0.3s ease-out;
  transform: translateY(-100%);
}

.header:hover .dropdown {
  display: block;
  transform: translateY(0);
}

@keyframes floatLogo {
  0% {
    /* transform: translateX(90vw); */
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-120vw);
    /* transform: translateX(10vw); */
  }
}

.floatingLogoContainer {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap; /* Prevent logos from wrapping to the next line */
  position: relative;  
}

.accreditions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 16px;
  box-shadow:0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.accreditionsLogoContainer {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin: 20px;
}

.accreditionsLogo {
  position: relative;
  width: 120px;
  height: 120px;
}

.invertedImg {
  filter: grayscale(100%) contrast(1000%);
}

.invertedImg.white {
  filter: invert();
}

.floatingLogo {
  display: inline-block;
  width: 100px; /* adjust based on your logo size */
  height: 100px;
  animation: floatLogo 10s linear infinite; 
  transition: filter .3s;
}


.floatingLogo:hover {
  filter: grayscale();
}